header ul {
	width: 100%;
	margin: 0 0;
}

.videoBoxes  {
	width: 29%;
	height: 50vw;
}

.videoBoxes i {
	top: -230px;
	left: 20px;
}

.videoBoxes p {
	height: 20%;
	line-height: 25px;
	font-size: 1.1rem;	
}
