header {
	height: auto;
}

header #logo {
	float: none;
	margin: 10px auto;
}
	
header nav ul  {
	margin-top: 0px;
}

header nav ul li {
	float: none;
	width: 100%;
	border-top: 2px solid #333;
}

header ul li:hover {
	border-bottom: none;
}


.menuSearch {
	width: 100%;
}

#heroImage {
	width: 100%;
	padding: 15px 0;
	height: auto;
	background: url(../img/background.jpg) center no-repeat; 
	background-size: cover;
}
	
.descriptonBox {
	width: 92%;
	margin: 0 4%;
}

.descriptonBox h1 {
	font-size: 2rem;
}

.descriptonBox h2 {
	font-size: 1.2rem;
	margin: .5rem 0 .5rem;
}

.descriptonBox h3 {
	font-size: 1rem;
}

.descriptonBox h4 {
	font-size: 1rem;
}

.descriptonBox p {
	margin: 20px 0 0 0;
	line-height: 1.5rem;
}

.descriptonBox .showMQ {
	display: block;
	width: 150px;
}
	
.descriptonBox .showMQ span {
	display: block;
	font-size: 1.2rem;
	color: red;
	font-weight: 700;
	margin-top: 20px;
}

.descriptonBox .showMQ:hover {
	width: 100%;
	color: white;
}
	
.descriptonBox .showMQ:hover .hideMQ {
	display: block;
	font-weight: 200;
}

.descriptonBox .hideMQ {
	display: none;
}

#heroImage .button {
	float: left;
	width: 150px;
	margin: 1rem;
	padding: 1rem;
	font-size: 1rem; 
}

/* ======= sekcja scollDown ======= */

#scrollDown {
	display: none;
}

/* ======= sekcja videoSection z kafelkami filmowymi ======= */

.videoBoxes  {
	height: 250px;
	width: 40%;
	margin: 0 2% 70px;
}

.videoBoxes i.fa-play-circle {
	width: 125px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	top: -145px;
	left: 10%;
	font-size: 1.2rem;
	line-height: 40px;
}