@import url(https://fonts.googleapis.com/css?family=Lato,Roboto);

/* ======= resety CSS */

* {
	margin: 0px;
	padding: 0px;
	color: white;
	font-size: 16px;
}

.container {
	width: 95%;
	margin: auto;
	box-sizing: border-box;
}
/* ======= sekcja Header z menu na górze i logo Netflixa */

header {
	background: black;
	padding-left: 25px;
	padding-right: 25px;
	overflow: auto;
	height: 100px;
}

header #logo  {
	background: url(../img/netflix.png) left top; 
	background-size: cover;
	height: 100px;
	width: 300px;
	display: inline-block;
	float: left;
}

header nav {
	display: inline-block;
	padding: 30px;
	border: 1px solid yellow;
	box-sizing: border-box;
}

.leftMenu {
	float: left;
}

.rightMenu {
	float: right;
	border: 1px solid yellow;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline;
	padding: 20px;
}

header nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: helvetica;
	letter-spacing: 1px;
}

header nav a:hover {
	color: red;
}

header .rightMenu i {
	font-size: 125%;
	line-height: 1.2;
}

/*efekt rozsuwania pola Szukaj po najechaniu myszką*/

.menuSearch  {
	display: inline-block; 
	width: 150px;
	height: 40px;
	border: 2px solid yellow;
	padding: 2px 10px;
	box-sizing: border-box;
}

.menuSearch .Box {
	font-size: 23px;
	font-family: Helvetica,sans-serif;
	text-align: right;
}

.menuSearch i {
	display: inline-block; 
	margin-right: 15px;
}	
.menuSearch .smallBox {
	color: red;
}

.menuSearch .expandedBox {
	display: none; 
}

.menuSearch:hover .smallBox {
	display: none; 
}

.menuSearch:hover i {
	display: none; 
}

.menuSearch:hover .expandedBox {
	display: inline-block; 
}

.menuSearch:hover {
	display: inline-block; 
	border: 2px solid white;
	width: 350px;
	transition: width 1.5s;
}

/* ======= sekcja HeroImage z dużą grafika w tle */

#heroImage {
	background: url(../img/background.jpg) left top; 
	background-size: cover;
	padding: 125px 0;
	max-height: 450px;
}

#heroImage .descriptonBox {
	width: 60%;
	background: black;
	opacity: .7;
	padding: 25px;
   	overflow: hidden;
}

#heroImage .descriptonBox * {
    font-family: 'Helvetica';
    color: white;
}

#heroImage .descriptonBox h1 {
	font-size: 3em;
	font-weight: 700;
	line-height: 1.1em;
	margin: .3em 0 .2em;
}


#heroImage .descriptonBox h2 {
	color: red;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.2px;
	margin: 0 0 .5em;
}

#heroImage .descriptonBox h3 {
	font-size: 1.3em;
	font-weight: 200;
	margin: .5em 0 .4em;
}

#heroImage .descriptonBox h4 {
	font-size: 1.3 em;
	font-weight: 400;
}

#heroImage .descriptonBox h4 span {
	color: red;
	font-size: 1em;
	font-weight: 700;
}

#heroImage .descriptonBox p {
	display: inline-block;
	margin-left: 10px;
	text-align: justify;
	font-family: helvetica, sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin-top: 15px;
}


#heroImage .button {
	float: left;
	width: 250px;
	cursor: pointer;
	letter-spacing: 1.5px;
	padding: 15px 15px;
	margin: 30px 30px;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
}

.btn1 {
	background: rgba(255,255,255,0.25);
}

.btn2 {
	background: rgba(255,0,0,1);
}


.btn1:hover {
	width: 250px;
	height: 48px; /*bez tego puchnie po najechaniu button i całosc puchnie raz z tłem z heroImafges*/
	background: rgba(255,255,255,0.1);
	border: 2px solid rgba(255,255,255,0.4);
}

.btn2:hover {
	background: rgba(255,0,0,0.6);
	border: 2px solid rgba(255,255,255,0.4); 		
	width: 250px;
	height: 48px;
}


/* ======= sekcja videoSection z kafelkami filmowymi ======= */

#videoSection {
	padding: 2%; 
	background: black;
	overflow: hidden;	
}

.videoBoxes {
	float: left;  /* w tutku był (dipslay: inline-block) i powododował ze były odstępy międzye div'ami. Trzeba było zastosowac trik z() font-size: 0px)*/
	height: 350px;
	width: 18%;
	margin: 0% 2% 5% 0%;
}

.videoBoxes .video {
	width: 100%;
	height: 100%;
	background-size: cover;
	display: inline-block;
	border-radius: 10px;
	opacity: 0.3; 
}

.videoBoxes p {
	text-align: center;
	font-family: 'Roboto', helvetica, sans-serif;
	color: white; 
	font-size: 1.2em;	
	font-weight: 400;
	padding: 10px;
	border-bottom: 3px solid red;
	border-radius: 5px;
}

.videoBoxes i.fa-play-circle {
	display: none;
	width: 175px;
	height: 60px;
	position: relative;
	top: 45%;
	left: 20%;
	background: black;
	opacity: .7;
	font-size: 200%;
	border: 2px solid white;
	border-radius: 30px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.videoBoxes .video:hover {
	border: 7px solid rgba(255,255,255,0); 
	box-sizing: border-box;
	opacity: 1; 
	transition: border .2s;
}

.videoBoxes .video:hover i.fa-play-circle {
	display: inline-block;
}

.video1 {
	background: url(../img/witamy_na_hawajach.jpg) no-repeat; 
}

.video2 {
	background: url(../img/HowDoYouNow.jpg) no-repeat; 
}

.video3 {
	background: url(../img/The_Siege_of_Jadotville.jpg) no-repeat; 
}

.video4 {
	background: url(../img/We_Were_Soldiers.jpg) no-repeat; 
}

.video5 {
	background: url(../img/TearsOfTheSun.jpg) no-repeat; 
}

.video6 {
	background: url(../img/W_starym_dobrym_stylu.jpg) no-repeat; 
}

.video7 {
	background: url(../img/Orange_Is_the_New_Black.jpg) no-repeat; 
}

.video8 {
	background: url(../img/House_of_Cards.jpg) no-repeat; 
}

.video9 {
	background: url(../img/Timeless.jpg) no-repeat; 
}

.video10 {
	background: url(../img/Stranger_Things.jpg) no-repeat; 
}