@import url(href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Raleway:300,400,500,700|Roboto:300,400,500,700&amp;subset=latin-ext");

/* ======= resety CSS */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: white;
	background: black;	
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
}


.container {
	width: 95%;
	max-width: 1800px;
	margin: 0 auto;
	overflow: hidden;
}

/* ======= sekcja Header z menu na górze i logo Netflixa */

header {
	height: 100px;
	border-bottom: red 4px solid;
	overflow: hidden;
}


header #logo {
	float: left;
	width: 310px; 
	height: 90px;
	margin: 5px;
	background: url(../img/netflix.png) no-repeat; 
	background-size: cover;
	cursor: pointer;
}

header nav {
	overflow: hidden;
}

header h1 {
	position: relative;  /* dla celów SEO */*/;
	left: -9999px;
	font-size: 15px;
}

header ul {
	float: right;
	margin-top: 10px;
	list-style: none;
}

header ul li {
	display: inline-block;
	padding: 10px;
}

header ul li a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
	text-decoration: none;
	letter-spacing: 1px;
}

header ul li a:hover {
	color: red;
}

/*efekt rozsuwania pola Szukaj po najechaniu myszką*/

.menuSearch  {
	width: 150px;
	padding: 10px;
	border: 2px solid black;
	margin: 0 auto;
}

.menuSearch .smallBox {
	text-align: right;
	color: red;	
	font-size: 1.3rem;
}

.menuSearch .expandedBox {
	display: none; 
	font-size: 1.3rem;	
}

.menuSearch:hover .expandedBox {
	display: block; 
	text-align: right;
}

.menuSearch:hover .smallBox{
	display: none; 
}

.menuSearch:hover {
	width: 300px;
	border: 2px solid white;
	transition: linear width .4s;
}


/* ======= sekcja HeroImage z dużą grafika w tle */

#heroImage {
	background: url(../img/background.jpg) fixed 0 60px; 
	background-size: cover;
	padding: 120px 0 40px;
	height: auto;
}

/* ======= sekcja descriptonBox z opisem filmu */

.descriptonBox {
	width: 75%;
	opacity: .7;
	margin-left: 10px;
	padding: 10px 10px;
   	overflow: hidden;
}

.descriptonBox h1 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 3rem;
	margin: .3rem 0 1rem;
}

.descriptonBox h2 {
	color: red;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2px;
	margin: 0 0 2rem;
}

.descriptonBox h3 {
	font-size: 1.3rem;
	font-weight: 200;
	margin: .5rem 0 .5rem;
}

.descriptonBox h4 {
	font-size: 1.1rem;
	font-weight: 400;
	margin-bottom: 30px;
}

.descriptonBox h4 span {
	color: red;
	font-size: 1.1rem;
	font-weight: 700;
}

.descriptonBox p {
	font-family: 'Lato';
	margin-left: 10px;
	text-align: justify;
	font-size: 1.2rem;
	margin-top: 10px;
}

.descriptonBox #pppp {
	display: none;
}

.descriptonBox .hideMQ {
	display: block;
}

.descriptonBox .button {
	float: left;
	width: 350px;
	padding: 15px 15px;
	margin: 40px 40px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1.5px;
	font-size: 1.4rem;
	text-align: center;
	box-sizing: border-box;
}

.descriptonBox .btn1 {
	background: rgba(255,255,255,0.25);
}

.descriptonBox .btn2 {
	background: rgba(255,0,0,1);
}


.descriptonBox .btn1:hover {
	background: rgba(255,255,255,0.1);
}

.descriptonBox .btn2:hover {
	background: rgba(255,0,0,0.6);
}

/* =======   sekcja scrollDown icony z FontAwesome umieszczone na dole strony pierwszej */

#scrollDown {
	text-align: center;
}

#scrollDown a {
	text-decoration: none;
}

#scrollDown i {
	font-size: 450%;
	margin-right: 20px; 
	position: relative;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: easy-in;
}

@keyframes arrow {
    0%   {color:white; left:0px; top: -10px;}
    100% {color:red; left:0px; top: 10px;}
}

#scrollDown span {
	font-size: 1.3rem;
	position: relative;
	top: -20px;
	letter-spacing: 1.3px;
}


/* ======= sekcja videoSection z kafelkami filmowymi ======= */

#videoSection {
	padding: 2%; 
	overflow: hidden;	
}

.videoBoxes {
	float: left;  /* w tutku był (dipslay: inline-block) i powododował ze były odstępy międzye div'ami. Trzeba było zastosowac trik z() font-size: 0px)*/
	height: 350px;
	width: 18%;
	margin: 0% 1% 5% 1%;
}
.videoBoxes .video img  {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 7px; /*gdy jest w html zdjecie*/
}

.videoBoxes .video {
	width: 100%;
	height: auto;
	background-size: cover;
	opacity: 0.5; 
	border-radius: 7px; /*gdy jest w css zdjecie */
}

.videoBoxes p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white; 
	font-size: 1.2rem;	
	font-weight: 400;
	padding: 10px;
	border-bottom: 3px solid red;
	border-radius: 5px;
}

.videoBoxes i.fa-play-circle {
	display: none;
	width: 175px;
	height: 60px;
	border: 2px solid white;
	border-radius: 30px;
	position: relative;
	top: 45%;
	left: 20%;
	opacity: .7;
	font-size: 2rem;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.videoBoxes .video:hover {
	border: 5px solid rgba(255,255,255,0); 
	box-sizing: border-box;
	opacity: 1; 
	transition: border .1s;
}

/* raz jest grafika w  HTML a restza jest w CSS */
/* dobrać na przyszłość co lepsze*/

.videoBoxes .video:hover i.fa-play-circle {
	display: block;
}

.video2 {
	background: url(../img/HowDoYouNow.jpg) no-repeat; 
}

.video3 {
	background: url(../img/The_Siege_of_Jadotville.jpg) no-repeat; 
}

.video4 {
	background: url(../img/We_Were_Soldiers.jpg) no-repeat; 
}

.video5 {
	background: url(../img/TearsOfTheSun.jpg) no-repeat; 
}

.video6 {
	background: url(../img/W_starym_dobrym_stylu.jpg) no-repeat; 
}

.video7 {
	background: url(../img/Orange_Is_the_New_Black.jpg) no-repeat; 
}

.video8 {
	background: url(../img/House_of_Cards.jpg) no-repeat; 
}

.video9 {
	background: url(../img/Timeless.jpg) no-repeat; 
}

.video10 {
	background: url(../img/Stranger_Things.jpg) no-repeat; 
}