@import url(href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Raleway:300,400,500,700|Roboto:300,400,500,700&amp;subset=latin-ext");

/* ======= resety CSS */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: white;
	background: black;	
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}


.container {
	width: 95%;
	max-width: 1800px;
	margin: 0 auto;
	overflow: hidden;
}

/* ======= sekcja Header z menu na górze i logo Netflixa */

header {
	background: red;	
	height: 100px;
	border-bottom: red 4px solid;
	overflow: hidden;
}

header nav {
	overflow: hidden;
}

header #logo {
	float: left;
	width: 310px; 
	height: 90px;
	margin: 5px;
	background: url(../../assets/img/netflix.png) no-repeat; 
	background-size: cover;
	cursor: pointer;
}


header h1 {
	position: relative;  /* dla celów SEO */
	left: -9999px;
	font-size: 1rem;
}

header ul {
	float: right;
	margin-top: .8rem;
	list-style: none;
}

header ul li {
	float: left;
	padding: .5rem 2vw;
	text-align: center;
	height: 40px;
}

header ul li:hover {
	border-bottom: 3px solid red;
	transition: border-bottom .1s;
}

header ul li a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
	text-decoration: none;
	letter-spacing: 1px;
}

/*efekt rozsuwania pola Szukaj po najechaniu myszką*/
.menuSearch  {
	width: 150px;
	height: 40px;
	margin: 0 auto;
	padding: .5rem .5rem;
}

.menuSearch .smallBox i {
 	margin-right: 15px;
}

.menuSearch .smallBox {
	text-align: right;
	color: red;	
	font-size: 1.3rem;
}

.menuSearch:hover .smallBox{
	display: none; 
}

.menuSearch .expandedBox {
	display: none; 
	font-size: 1.3rem;	
	text-align: right;
}

.menuSearch:hover .expandedBox {
	display: block; 
}

.menuSearch:hover {
	width: 350px;
	border: 2px solid white;
	transition: linear width .5s;
	box-sizing: border-box;
}
/* MQ dla porpawnego wyśwetlania rozsuwanej belki "Szukaj" 
   po najechaniu myszką dla rodzielczosci bliskich 1024px */

@media (min-width: 1024px) and (max-width: 1300px) {
	header ul li {
		padding: .5rem 10px;
	}
	.menuSearch:hover {
		width: 200px;
	}
}

/* ======= sekcja HeroImage z dużą grafika w tle */

#heroImage {
	background: url(../../assets/img/background.jpg) fixed 0 60px; 
	background-size: cover;
	padding: 8rem 0 3rem;
	height: auto;
}

/* ======= sekcja descriptonBox z opisem filmu */

.descriptonBox {
	width: 75%;
	opacity: .7;
	padding: 1rem;
	margin-left: 1rem;
	overflow: hidden;
}

.descriptonBox h1 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 3rem;
	margin: 2rem 0;
}

.descriptonBox h2 {
	color: red;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2px;
	margin: 0 0 1.5rem;
}

.descriptonBox h3 {
	font-size: 1.3rem;
	font-weight: 200;
	margin: 0 0 .2rem;
}

.descriptonBox h4 {
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0 0 1.5rem;
}

.descriptonBox h4 span {
	color: red;
	font-size: 1.1rem;
	font-weight: 700;
}

.descriptonBox p {
	font-family: 'Lato';
	text-align: justify;
	font-size: 1.2rem;
	margin: .5rem 0;
}

.descriptonBox .showMQ span {
	display: none;
}

.descriptonBox .hideMQ {
	display: block;
}

.descriptonBox .button {
	float: left;
	width: 300px;
	padding: 1rem;
	margin: 1rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1.5px;
	font-size: 1.3rem;
	text-align: center;
	box-sizing: border-box;
}

.descriptonBox .btn1 {
	background: rgba(255,255,255,0.25);
	margin: 1rem 4rem 1rem 1rem;
}

.descriptonBox .btn2 {
	background: rgba(255,0,0,1);
}

.descriptonBox .btn1:hover {
	background: rgba(255,255,255,0.1);
}

.descriptonBox .btn2:hover {
	background: rgba(255,0,0,0.6);
}

/* =======   sekcja scrollDown icony z FontAwesome umieszczone na dole strony pierwszej */

#scrollDown {
	text-align: center;
}

#scrollDown a {
	text-decoration: none;
}

#scrollDown i {
	font-size: 450%;
	margin-right: 20px; 
	position: relative;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: easy-in;
}

@keyframes arrow {
    0%   {color:white; left:0px; top: 0px;}
    100% {color:red; left:0px; top: 15px;}
}

#scrollDown span {
	font-size: 1.3rem;
	position: relative;
	top: -15px;
	letter-spacing: 1.3px;
}

/* ======= sekcja videoSection z kafelkami filmowymi ======= */

#videoSection {
	max-width: 1700px;
	margin: 0 auto;
	height: auto;
}

.videoBoxes {
	position: relative;  /*to jest dla klawisza PLAY w tagu "i"*/ 
	float: left;  /* w tutku był (dipslay: inline-block) i powododował ze były odstępy międzye div'ami. Trzeba było zastosowac trik z() font-size: 0px)*/
	width: 16%;
	height: 30vw;
	margin: 10px 2%;
	opacity: 0.5; 
	border-bottom: 3px solid red;
	border-radius: 5px;
}

.videoBoxes:hover img{
	border: 4px solid black; 
	transition: border .1s;
}

.videoBoxes img  {
	width: 100%;
	height: 80%;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 7px; 
}

.videoBoxes:hover i {
	display: inline-block;
}

.videoBoxes:hover {
	opacity: 1; 
}

.videoBoxes p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white; 
	font-size: 1.2rem;	
	font-weight: 400;
	position: relative;
	top: 1.8vw;
}
.videoBoxes span {
	font-size: 1.5rem;
}
.videoBoxes i {
	/*display: none;*/
	position: absolute;
	top: 10vw;
	left: 20%;
	width: 60%;
	height: 50px;
	border: 2px solid white;
	border-radius: 25px;
	opacity: .7;
	font-size: 1.5rem;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}

.fa-play-circle:before{
	margin-right: 5px;
}