/* ======== MEDIA QUERIES 1024PX =======*/
header {
	height: 210px;
	position: static; 	/*hedaer nie będize od tej pory na sztywno zafiksowany do belki górnej przy przewijaniu ekranu w dół*/
}

header nav {
	margin-top: 0px;
}

header #logo {
	float: none;
	margin: 10px auto 0px;
}

header ul {
	float: none;
	width: 80%;
	margin: 0 auto;
}

header ul li {
	width: 25%;
	padding: 0.75rem 0.5rem;
}

header ul li:hover a {
	color: red;
}

header ul li a {
	font-size: 1.4rem;
}

#heroImage {
	padding: 2rem 0 3rem;
}

.menuSearch {
	width: 100%;
}
 
.menuSearch .smallBox {
	text-align: center;
	font-size: 1.4rem;
}

.menuSearch:hover .expandedBox {
	text-align: center;
}

.menuSearch:hover {
	width: 100%;
}

.descriptionBox {
	width: 96%;
	margin: 0 2%; 
}

.descriptionBox .button {
	width: 250px;
	font-size: 1.2rem;
}

.videoBoxes  {
	height: 30vw;
	width: 21%;
}

.videoBoxes p {
	font-size: 1rem;
	top: .9vw;
}

.videoBoxes img  {
	height: 25vw;
}

.videoBoxes i {
	top: 13vw;
	left: 25%;
	width: 50%;
	height: 4vw;
	line-height: 3.5vw;
	font-size: 1.1rem;
}
