/* ======== MEDIA QUERIES 1280PX =======*/
.container {
	width: 95%;
}	

.menuSearch:hover {
	width: 200px;
}

.videoBoxes  {
	height: 28vw;
}

.videoBoxes p {
	font-size: 1.1rem;	
	font-weight: 400;
	top: 1vw;
}

.videoBoxes i {
	font-size: 1.5rem;
}

.videoBoxes img  {
	height: 23vw;
}

/* dla mniejszych rozdzielczości scrool na dół jest zbedny */
#scrollDown {
	display: none;
}