/* ======== MEDIA QUERIES 1024PX =======*/
header {
	height: 210px;
	position: static; 	/*hedaer nie będize od tej pory na sztywno zafiksowany do belki górnej przy przewijaniu ekranu w dół*/
}

header nav {
	margin-top: 0px;

}

header #logo {
	float: none;
	margin: 10px auto 0px;
}

header ul.menuItems {
	float: none;
	width: 80%;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
}

header ul li {
	width: 25%;
	margin: 0px;
}

header ul li a {
    padding: 10px 5px;
    height: 100%;
} 

header ul li:hover a {
	color: red;
}

#heroImage {
	top: 0px;
	padding: 2rem 0 3rem;
}

.menuSearch {
	width: 100%;
    margin: 0px;
}

.menuSearch .smallBox {
	text-align: center;
	font-size: 1.4rem;
	padding: 10px 50px;
}

.menuSearch .expandedBox {
   	padding: 15px 50px;
   	top: -2px;
}

.menuSearch .smallBoxInput {
    top: -8px;
}

.menuSearch:hover .expandedBox {
	text-align: center;
}

.menuSearch:hover {
	width: 100%;
}

.descriptionBox .button {
	width: 250px;
	font-size: 1.2rem;
}

.videoBoxes  {
	height: 36vw;
	width: 21%;
}

.videoBoxes p {
	font-size: 1rem;
	top: 1vw;
}

.videoBoxes img  {
	height: 30vw;
}

.videoBoxes i {
	top: 13vw;
	left: 25%;
	width: 50%;
	height: 4vw;
	line-height: 3.5vw;
	font-size: 1.1rem;
}


#videoSection {
	top: 0px;
}