/*  Media queries 480px*/

header {
	height: auto;
}

header #logo {
	float: none;
}

header ul li {
	float: none;
	width: 100%;
	height: 55px;
	padding: 1.25rem 0.5rem;
	border-top: 2px solid #333;
}

header ul li:hover {
	border-bottom: none;
}

header .hamburgerIcon {
	display: block;
}	

/*menu nie ma , dopiero po anciśniecu klawisza hamburger-menu pojawia się */
header .menuItems {
	height: 0px;
	opacity: 0;
	transition: all 1s;
}

.menuSearch {
	width: 100%;
	padding: 0.3rem 0.5rem 0rem;
}

.menuSearch .smallBox i {
 	margin-right: 2px;
 	font-size: 2.5rem;
}

#heroImage {
	width: 100%;
	padding: 15px 0;
}
	
.descriptionBox {
	width: 96%;
	margin: 0 2%;
}

.descriptionBox h1 {
	font-size: 2.5rem;
}

.descriptionBox p {
	margin: 15px 0 0 0;
	font-size: 1rem;
	line-height: 1.3rem;
}

.descriptionBox .showMoreText  {
	display: block;
}

.descriptionBox .hiddenText  {
	display: none;
}

.descriptionBox .showMoreText:hover {
	color: red;
}
	
.descriptionBox .button {
	width: 90%;
	margin: 1rem 5%;
}


/* ======= sekcja videoSection z kafelkami filmowymi ======= */

.videoBoxes  {
	height: 60vw;
	width: 45%;
}

.videoBoxes p {
	top: 4vw;	
}

.videoBoxes i {
	top: 25vw;
	left: 25%;
	width: 50%;
	height: 8vw;
	line-height: 7vw;
	font-size: 1rem;
}

.videoBoxes img  {
	height: 55vw;
}