/* ======== MEDIA QUERIES 768PX =======*/
header ul {
	width: 100%;
	margin: 0 0;
}

header ul li {
	height: 50px;
}

.menuSearch {
	height: 50px;
	padding: .5rem .5rem;	
}

.menuSearch .smallBox i {
 	margin-right: 5px;
}

.descriptonBox {
	width: 96%;
	margin: 0 2%; 
}

.descriptonBox h1 {
	font-size: 2.75rem;
}

.descriptonBox h2 {
	font-size: 1.25rem;
	margin: .5rem 0 .5rem;
}

.descriptonBox h3 {
	font-size: 1rem;
}

.descriptonBox h4 {
	font-size: 0.9rem;
}

.descriptonBox p {
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.descriptonBox .button {
	width: 200px;
	padding: 1rem 0rem;
	margin: .75rem .5rem;
}

.videoBoxes  {
	height: 40vw;
	width: 29%;
}

.videoBoxes p {
	top: 1.2vw;	
}

.videoBoxes i {
	top: 17vw;
	font-size: 1.1rem;
	height: 6vw;
	line-height: 5vw;
	width: 70%;
	left: 15%;
}

.videoBoxes img  {
	height: 35vw;
}