/* ======== MEDIA QUERIES 1280PX =======*/

header ul li {
	width: 105px;
	margin-left: 0px;
	/*border: 1px solid yellow;*/
}	

header ul li {
	font-size: 1.2rem;
}

header #logo {
	width: 280px; 
	height: 85px;
	margin: 10px 0;
	background-size: 280px 85px;
}

header ul li a {
	font-size: 1.2rem;
}
.menuSearch:hover {
	width: 200px;
}

.videoBox {
	width: 16%;
	height: 25.5vw;
}

.videoBox p {
	font-size: 1.1rem;	
	font-weight: 400;
}

/* dla mniejszych rozdzielczości scrool na dół jest zbedny */
#scrollDown {
	display: none;
}