/* ======== MEDIA QUERIES 1024PX =======*/
header {
	position: static; 	/*hedaer nie będize od tej pory na sztywno zafiksowany do belki górnej przy przewijaniu ekranu w dół*/
}

header nav {
	height: 200px;
	margin: 0px;
}

header #logo {
	float: none;
	margin: 10px auto 0px;
}

header ul {
	float: none;
	width: 80%;
	height: 100px;
	margin: 0 auto;
}

header ul li {
	width: 25%;
	margin: 0px;
}

header ul li:hover a {
	color: red;
}

#heroImage {
	top: 0px;
}

.descriptionBox {	
	margin: 10px 0;
}

.menuSearch {
	width: 100%;
    margin: 0px;
}

.menuSearch .smallBox {
	text-align: center;
	font-size: 1.4rem;
	padding: 10px 50px;
}

.menuSearch .expandedBox {
   	padding: 15px 50px;
   	top: -2px;
}

.menuSearch .smallBoxInput {
    top: -8px;
}

.menuSearch:hover .expandedBox {
	text-align: center;
}

.menuSearch:hover {
	width: 100%;
}

.descriptionBox .button {
	font-size: 1.2rem;
	width: 40%;
	padding: 1rem 0rem;
	margin: 1.5rem 5%;
}

.videoBoxes {
	height: 33vw;
	width: 21%;
}

.videoBoxes p {
	font-size: 1rem;
}

#videoSection {
	top: 0px;
}