/* ======== MEDIA QUERIES 1280PX =======*/

header ul li {
	width: 115px;
	margin-left: 0px;
}	

header ul li {
	font-size: 1.2rem;
}

.menuSearch:hover {
	width: 200px;
}

.videoBoxes {
	width: 16%;
	height: 25.5vw;
}

.videoBoxes p {
	font-size: 1.1rem;	
	font-weight: 400;
	top: 20px;
}

.videoBoxes i {
	font-size: 1.5rem;
}

/* dla mniejszych rozdzielczości scrool na dół jest zbedny */
#scrollDown {
	display: none;
}

/*.videoBoxes img  {
	height: 23vw;
}*/