/*  Media queries 350px*/

header ul li {
	height: 50px;
}

header #logo {
  width: 205px; 
  height: 60px;
  background-size: 205px 60px;
}

header .hamburgerIcon {
  margin: 12px 10px;
} 

#heroImage {
  padding: 5px 0;
}

.descriptionBox h1 {
	font-size: 2rem;
	line-height: 1.7rem;
}

.descriptionBox h2 {
  font-size: 1rem;
}

.descriptionBox .button {
  padding: .75rem 0rem;
  margin: 0.75rem 5%;
}

.videoBox  {
  height: 75vw;
}

.videoBox p {
  font-size: 1rem;
}