/*  Media queries 480px*/

.container {
	width: 95%;
}

header {
	height: auto;
}

header nav {
	height: auto;
	margin: 0px 0px;
}

header #logo {
	float: left;
	width: 240px; 
	height: 70px;
	margin: 5px;
	background-size: 240px 70px;
}

header ul li {
	float: none;
	width: 100%;
	padding: 0rem;
	border-top: 2px solid #333;
}

header ul li:hover {
	border-bottom: none;
}

header .hamburgerIcon {
	display: block;
	margin: 15px 25px 0 0;
}	

/*menu nie ma, dopiero po naciśnięciu klawisza hamburger-menu pojawia się */
header ul {
	height: 0px;
	opacity: 0;
	transition: all 1s;
}

.showMenuItems {
	height: 250px;
	opacity: 1;
}

.menuSearch {
	width: 100%;
}

.menuSearch .smallBox {
	padding: 0px 50px;
}
.menuSearch .smallBoxInput {
    top: 0px;
}

.menuSearch .smallBox i {
 	margin-right: 2px;
 	position: relative;
 	top: 5px;
}

#heroImage {
	width: 100%;
	padding: 15px 0;
}

.descriptionBox {	
	padding: .5rem;	
}

.descriptionBox h1 {
	font-size: 2.5rem;
}

.descriptionBox p {
	margin: 15px 0 0 0;
	font-size: 1rem;
	/*line-height: 1.3rem;*/
}

.descriptionBox .showMoreText  {
	display: block;
}

.descriptionBox .hiddenText  {
	display: none;
}

.descriptionBox .showMoreText:hover {
	color: red;
}
	
.descriptionBox .button {
	width: 90%;
	margin: 1rem 5%;
}


/* ======= sekcja videoSection z kafelkami filmowymi ======= */

.videoBoxes  {
	/*height: 75vw;*/
	width: 46%;
}

.videoBoxes p {
	top: 4vw;	
}

.videoBoxes i {
	left: 25%;
	width: 50%;
	height: 9vw;
	line-height: 8vw;
}

.videoBoxes img  {
	/*height: 62.5vw;*/
}