/* ======== MEDIA QUERIES 768PX =======*/
header ul {
	width: 95%;
}

header ul li {
	height: 50px;
}

.menuSearch {
	height: 50px;
}

.menuSearch .smallBox i {
 	margin-right: 5px;
}

.descriptionBox h1 {
	font-size: 2.5rem;
}

.descriptionBox h2 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.descriptionBox h3 {
	font-size: 1.3rem;
}

.descriptionBox h4 {
	font-size: 1.25rem;
}

.descriptionBox p {
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.descriptionBox .button {
	width: 45%;
	padding: 1rem 0rem;
	margin: 1.5rem 2.5%;
}

.descriptionBoxDetail {
	width: 100%;
	padding: 15px;
}

.descriptionBox .filmBox {
	width: 100%;
	height: auto;
	max-height: 300px; 
	max-width: 200px;
	min-height: 250px;
	min-width: 167px;
	position: relative;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.videoBox {
	height: 46vw;
	width: 29%;
}