/* ======== MEDIA QUERIES 768PX =======*/
header ul {
	width: 95%;
}

header ul li {
	height: 50px;
}

header ul li:nth-child(n):hover {
	border-bottom: none;
}

.menuSearch {
	height: 55px;
}

.menuSearch .smallBox i {
 	margin-right: 5px;
}


.descriptionBoxDetail {
	width: 100%;
	padding: 15px;
}

.descriptionBox .filmBox {
    width: 100%;
	max-height: 400px; 
	max-width: 268px;
	position: relative;
	top: 10px;
	left: 50%;
	/*right: auto;*/
	transform: translateX(-50%);
}

.descriptionBox h1 {
	font-size: 2.5rem;
}

.descriptionBox h2 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.descriptionBox h3 {
	font-size: 1.3rem;
}

.descriptionBox h4 {
	font-size: 1.25rem;
}

.descriptionBox p {
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.descriptionBox .filmTitle {
	font-size: 7vw;
}

.descriptionBox .button {
	width: 45%;
	padding: 1rem 0rem;
	margin: 1.5rem 2.5%;
}

.videoBox {
	height: 45vw;
	width: 29%;
}

.videoBox img  {
	height: 39.5vw;
}	

.videoBox p {
	font-size: .8rem;
}