/* ======== MEDIA QUERIES 768PX =======*/
header ul {
	width: 95%;
}

header ul li {
	height: 50px;
}

.menuSearch {
	height: 50px;
}

.menuSearch .smallBox i {
 	margin-right: 5px;
}

.descriptionBox h1 {
	font-size: 2.75rem;
}

.descriptionBox h2 {
	font-size: 1.25rem;
	margin: .5rem 0 .5rem;
}

.descriptionBox h3 {
	font-size: 1rem;
}

.descriptionBox h4 {
	font-size: 0.9rem;
}

.descriptionBox p {
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.descriptionBox .button {
	width: 200px;
	padding: 1rem 0rem;
	margin: .75rem .5rem;
}

.videoBoxes {
	height: 45vw;
	width: 29%;
}

.videoBoxes p {
	top: 17px;
}

.videoBoxes i {
	font-size: 1.2rem;
	height: 6vw;
	line-height: 6vw;
	width: 60%;
	left: 20%;
}

/*.videoBoxes img  {
	height: 41vw;
}*/