	/* ======== GŁÓWNY PLIK CSS Z ROZMIARAMI DLA DUŻYCH EKRANÓW PONAD 1280PX =======*/

	/* ======= resety CSS */

	* {
		margin: 0px;	
		padding: 0px;
		border: 0px;
		color: white;
		font-size: 15px;
		font-family: Helvetica, Arial, sans-serif;
		box-sizing: border-box;
	}

	.container {
		width: 90%;
		max-width: 1800px;
		margin: 0 auto;
		overflow: hidden;
/*		border: 3px solid white;*/
	}	

	/* ======= sekcja Header z menu na górze i logo Netflixa */

	header {
		height: auto;
		width: 100%;
		background: black;	
		position: fixed; 		/*header zafiksowany do belki górnej przy przewijaniu ekranu w dół*/
		z-index: 100;
		border-bottom: red 4px solid;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .4s;	/* transition daje efekt zmniejszania wysokosci się nawigacji podczas scrolowania myszki w dół
									obsługa w JS w funkcji scrollPage()*/
	}

	header nav {
		height: 100px;
		margin: 5px 0px;
		transition: all .3s;
	}

	/*gdy scrollowanie w dół lub opuszczenie header'a to ma się pomiejszyc */
	.headerBig {
		margin: 15px 0px;
	}

	header #logo {
		float: left;
		width: 310px; 
		height: 90px;
		margin: 5px 0;
		background: url(../img/netflix.png) no-repeat; 
		background-size: cover;
		cursor: pointer;
	}

	/* hamburger menu*/
	header .hamburgerIcon {
		display: none;
		float: right;
		width: 50px;
		height: 50px;
		margin: 10px 15px;
		cursor: pointer;
	}

	header .iconBar {
		margin: 0 auto;
		width: 40px;
		height: 6px;
		margin-top: 8px;
		border-radius: 3px;
		background: white;
		transition: all .15s ease-out;
	}

	/* animacje belek w hamburger menu */
	header .first.changeHambIcon {
	  	transform: translateY(14px) rotate(45deg);
	}

	header .second.changeHambIcon {
		display: none;
	}

	header .third.changeHambIcon {
		transform: rotate(-45deg);
	}

	header ul {
		margin-top: 25px;
		float: right;
		height: 50px;
		list-style: none;
		overflow: hidden;
	}

	header ul li {
		float: left;
		height: 47px;
		width: 120px;
		margin-left: 10px;
		text-align: center;
	}

	header ul li:hover {
		border-bottom: 3px solid red;
		transition: border-bottom .2s ease-out;
	}

	header ul li a {
		display: block;
		height: 100%;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.3rem;
		text-decoration: none;
		letter-spacing: 1px;
		line-height: 3rem;
	}

	/*efekt rozsuwania pola Szukaj po najechaniu myszką*/
	.menuSearch {
		width: 150px;
		margin: 0 5px;
	}

	.menuSearch .smallBox {
		display: block;
		height: 100%;
		padding: 0px 15px;
		text-align: right;
		box-sizing: border-box;
	}

	.menuSearch .smallBox i {
	 	margin-right: 15px;
	    font-size: 2.5rem;
	}

	.menuSearch .smallBoxInput {
	    font-size: 1.3rem;
	    color: red;	
	    position: relative;
	    top: -2px;
	}

	.menuSearch:hover .smallBox{
		display: none; 
	}

	.menuSearch .expandedBox {
		display: none;
		height: 100%;
		padding: 20px; 
		font-size: 1.3rem;	
		text-align: right;
		box-sizing: border-box;
		position: relative;
	    top: -10px;
	}

	.menuSearch:hover .expandedBox {
		display: block; 
	}

	.menuSearch:hover {
		width: 300px;
		border: 2px solid white;
		transition: linear width .5s;
		box-sizing: border-box;
	}
	/* ======= sekcja HeroImage z dużą grafika w tle */
		
	#heroImage {
		/*background: url(../img/background.jpg) no-repeat fixed 0px 70px; 
		background-size: cover;*/
		height: auto;
		width: 100%;
		overflow: hidden;
		position: relative;
		top: 110px;
	}

	#videoBackground {
		min-height: 100%;
		min-width: 100%;
		height: auto;
		width: auto;
		position: absolute;
		top: 0;
		z-index: 1;
		opacity: 0.9;
	}

	/* ======= sekcja descriptionBox z opisem filmu */

	.descriptionBox {
		margin: 30px 0;
		padding: 15px;
		height: auto;
		position: relative;
		top: 0;
		z-index: 2;	
		background: black;	
		opacity: 0.8;
		overflow: hidden;
	}

	.descriptionBox h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3rem;
		margin: 2rem 0;
	}

	.descriptionBox h2 {
		color: red;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: 0.2px;
		margin: 0 0 1.5rem;
	}

	.descriptionBox h3 {
		font-size: 1.5rem;
		font-weight: 200;
		margin: 0 0 .2rem;
	}

	.descriptionBox h4 {
		font-size: 1.3rem;
		font-weight: 400;
		margin: 0 0 1.5rem;
	}

	.descriptionBox h4 span {
		color: red;
		font-weight: 700;
	}

	.descriptionBox p {
		font-family: 'Lato';
		text-align: justify;
		font-size: 1.2rem;
		margin: .75rem 0;
	}

	.descriptionBox .showMoreText {
		display: none;
		margin-top: 20px;
		font-size: 1.2rem;
		font-weight: 700;
	}

	.descriptionBox .button {
		float: left;
		width: 300px;
		margin: 2rem 4rem 2rem 1rem;
		padding: 1rem;
		border-radius: 5px;
		cursor: pointer;
		letter-spacing: 1.5px;
		font-size: 1.3rem;
		text-align: center;
		box-sizing: border-box;
	}

	.descriptionBox .btn1 {
		background: rgba(255,255,255,0.25);
	}

	.descriptionBox .btn2 {
		background: rgba(255,0,0,1);
	}

	.descriptionBox .btn1:hover {
		background: rgba(255,255,255,0.1);
	}

	.descriptionBox .btn2:hover {
		background: rgba(255,0,0,0.6);
	}

	/* =======   sekcja scrollDown icony z FontAwesome umieszczone na dole strony pierwszej */

	#scrollDown {
		display: block;
		position: relative;
		top: 110px;
		background: black;	
		text-align: center;
		height: 80px; 
	} 

	#scrollDown a {
		text-decoration: none;
	}

	#scrollDown i {
		font-size: 450%;
		margin-right: 20px; 
		position: relative;
	    animation-name: arrow;
	    animation-duration: 2s;
	    animation-iteration-count: infinite;
	    animation-timing-function: easy-in;
	}

	@keyframes arrow {
	    0%   {color:white; left:0px; top: -5px;}
	    100% {color:red; left:0px; top: 10px;}
	}

	#scrollDown span {
		color: white;
		font-size: 1.3rem;
		position: relative;
		top: -15px;
		letter-spacing: 1.3px;
	}

	/* ======= sekcja videoSection z kafelkami filmowymi ======= */

	#videoSection {
		height: auto;
		width: 100%;
		background: black;	
		position: relative;
		top: 110px;
	}

	.videoBoxes {
		float: left;  
		height: 21vw;
		width: 12.5%;
		margin: 2%;
		opacity: 0.7; 
		border-radius: 5px;
		border-bottom: 3px solid red;
		position: relative;  /* to jest dla klawisza PLAY w tagu "i"*/ 
	}

	.videoBoxes img  {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 7px; 
	}
	
	.videoBoxes p {
		width: 100%;
		display: inline-block; 
		text-align: center;
		font-family: 'Lato', sans-serif;
		color: white; 
		font-size: 1.3rem;	
		font-weight: 400;
		position: absolute;
		top: 91%;
		left: 50%;
		transform: translate(-50%,-50%);
		/*border: 1px solid yellow; */
	}
	
	.videoBoxes:hover img{
		transition: border .1s;
		border: 3px solid  black;
	}

	.videoBoxes:hover i {
		display: inline-block;
	}

	.videoBoxes:hover {
		opacity: 1; 
	}

	.videoBoxes span {
		font-size: 1.5rem;
	}

	.videoBoxes i {
		display: none;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
		opacity: .7;
		cursor: pointer;
		font-size: 5rem;
		color: white;		
	}

	/* pozycjonowanie trójkata symbolizującego klawisz Play */
	.fa-play-circle:before{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}