	/* ======== GŁÓWNY PLIK CSS Z ROZMIARAMI DLA DUŻYCH EKRANÓW PONAD 1280PX =======*/

	/* ======= resety CSS */
	* {
		margin: 0px;	
		padding: 0px;
		border: 0px;
		color: white;
		text-decoration: none;
		font-size: 15px;
		font-family: Helvetica, Arial, sans-serif;
		box-sizing: border-box;
	}
	
	.container {
		width: 90%;
		max-width: 1800px;
		margin: 0 auto;
		overflow: hidden;
		/*border: 3px solid white;*/
	}

	/* ======= sekcja Header z menu na górze i logo Netflixa */

	header {
		height: auto;
		width: 100%;
		background: black;	
		/*header zafiksowany do belki górnej przy przewijaniu ekranu w dół*/
		position: fixed; 		
		z-index: 100;
		border-bottom: red 4px solid;
		overflow: hidden;
		box-sizing: border-box;		
	}	

	header nav {
		/* to jest komentarz*/
		height: 90px;
		margin: 0px; 
		transition: all ease-out 0.2s;   
	}
	
	/*gdy scrollowanie w dół lub opuszczenie header'a to ma się pomiejszyc */
	.headerBig {
		margin: 12px 0px;
	}

	header #logo {
		float: left;
		width: 310px; 
		height: 90px;
		margin: 5px 0;
		background: url(../img/netflix.png) no-repeat; 
		background-size: cover;
		cursor: pointer;
	}

	/* hamburger menu*/
	header .hamburgerIcon {
		display: none;
		float: right;
		width: 50px;
		height: 50px;
		margin: 10px 15px;
		cursor: pointer;
	}

	header .iconBar {
		margin: 0 auto;
		width: 40px;
		height: 6px;
		margin-top: 8px;
		border-radius: 3px;
		background: white;
		transition: all .15s ease-out;
	}

	/* animacje belek w hamburger menu */
	header .first.changeHambIcon {
	  	transform: translateY(14px) rotate(45deg);
	}

	header .second.changeHambIcon {
		display: none;
	}

	header .third.changeHambIcon {
		transform: rotate(-45deg);
	}

	header ul {
		margin-top: 25px;
		float: right;
		height: 50px;
		list-style: none;
		overflow: hidden;
	}
	
	header ul li {
		float: left;
		height: 47px;
		width: 120px;
		margin-left: 10px;
		text-align: center;
	}

	header ul li:nth-child(n+2):hover { /*ale rzeżba ale działa :nth-child(n+2) znaczy ze wszystkie elementy od numeru 2 */
		border-bottom: 3px solid red;
		transition: border-bottom 0.15s;
	}

	header ul li a {
		display: block;
		height: 100%;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.3rem;
		text-decoration: none;
		letter-spacing: 1px;
		line-height: 3rem;
	}

	/*efekt rozsuwania pola Szukaj po najechaniu myszką*/
	.menuSearch {
		width: 150px;
		margin: 0 5px;
		cursor: pointer;
		box-sizing: border-box;
	}
	
	/*najechanie myszą na input "Szukaj" */
	.mouseSearchClick {  
		width: 300px;
		transition: width .15s;
		
	}

	.menuSearch .smallBox {
		display: block;
		height: 100%;
		padding: 0px 15px;
		text-align: right;
		box-sizing: border-box;
	}

	.menuSearch .smallBox i {
	 	margin-right: 15px;
	    font-size: 2.5rem;
	}

	.menuSearch .smallBoxInput {
	    font-size: 1.3rem;
	    color: red;	
	    position: relative;
	    top: -2px;
	}

	.menuSearch .expandedBox {
		display: none;
		height: 100%;
		width: 100%;
		padding-right: 10px; 
		font-size: 1.3rem;	
		text-align: right;
		box-sizing: border-box;
		position: relative;
	    top: 0px;
	    background: black;
	    border: 2px solid white;
	    outline: none;
	}

	/* ======= sekcja HeroImage z dużą grafika w tle */
		
	#heroImage {
		/*background: url(../img/background.jpg) no-repeat fixed 0px 70px; 
		background-size: cover;*/
		height: auto;
		width: 100%;
		overflow: hidden;
		position: relative;
		top: 100px;		
	}

	#videoBackground {
		position: absolute;
		z-index: 1;
		opacity: 0.9;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		height: auto;
		width: 100%;
	}

	/* ======= sekcja descriptionBox z opisem filmu */

	.descriptionBox {
		margin: 20px 0;
		height: auto;
		background: black;	
		opacity: .9;
		overflow: hidden;
		z-index: 2;			/*ponad #videoBackground*/
		position: relative;
		top: 0;
	}
	
	.descriptionBox h3,
	.descriptionBox h4 {
		color: lightgrey;
	}
	
	.descriptionBoxDetail {
		width: 50%;
		padding: 20px;
		/*border: 1px solid yellow;*/
	}
	
	.descriptionBox .filmPoster	{
		width: 100%;
		height: auto;
	}

	.descriptionBox .filmBox {
		width: 50%;
		height: auto;
		max-height: 600px; /*dzięki 4 wartością min i max Poster świetnie się skaluje i nie jest nigdy za mały i za duży */
		max-width: 402px;
		min-height: 300px;
		min-width: 200px;
		position: absolute;
		top: 50%;
		right: 2.5%;
		transform: translateY(-50%);
	}

	.descriptionBox h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3rem;
		margin: 1.5rem 0;
	}

	.descriptionBox h2 {
		color: red;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: 0.2px;
		margin: 1.5rem 0;
	}

	.descriptionBox h3 {
		font-size: 1.5rem;
		font-weight: 200;
		margin: .4rem 0;
	}
	
	.descriptionBox h4:first-of-type {
		margin-top: 1.5rem;
	}

	.descriptionBox h4 {
		font-size: 1.3rem;
		font-weight: 200;
		margin: .2rem 0 0;
	}
	
	.descriptionBox span {
		color: red;
		font-weight: 700;
		font-size: 1.2rem;
	}

	.descriptionBox .filmTitle {
		color: white;
		font-size: 3vw;
	}
	
	.descriptionBox .filmDescBox p {
		font-size: 1.3rem;
		font-weight: 200;
		margin: 1.5rem 0 .3rem;
	}

	/*niestety mus by bo jest gap jedna spacja miedzy dwoma tekstami */
	/*.descriptionBox .filmDescBox {
		font-size: 0;
	}*/

	.descriptionBox .shortDescription, 
	.descriptionBox .longDescription {
		display: inline;
		color: white;
		font-weight: 300;
		font-family: 'Lato';
		text-align: justify;
		font-size: 1.4rem;
	}

	.descriptionBox .showMoreText {
		display: none;
		margin-top: 25px;
		font-size: 1.2rem;
		font-weight: 700;
	}

	.descriptionBox .button {
		float: left;
		width: 300px;
		margin: 2rem 4rem 2rem 1rem;
		padding: 1rem;
		border-radius: 5px;
		cursor: pointer;
		letter-spacing: 1.5px;
		font-size: 1.3rem;
		text-align: center;
		box-sizing: border-box;
	}

	.descriptionBox .btnWatchVideo {
		background: rgba(255,255,255,0.25);
	}

	.descriptionBox .btnShowIMDB {
		background: rgba(255,0,0,1);
	}

	.descriptionBox .btnWatchVideo:hover {
		background: rgba(255,255,255,0.1);
	}

	.descriptionBox .btnShowIMDB:hover {
		background: rgba(255,0,0,0.6);
	}

	/* =======   sekcja scrollDown icony z FontAwesome umieszczone na dole strony pierwszej */

	#scrollDown {
		height: 85px; 
		position: relative;
		top: 100px;
		background: black;	
	} 

	#scrollDownBox {
		position: absolute;
		left: 50%;
		top: 5px;
		transform: translateX(-50%);
		text-align: center;
		cursor: pointer;
		/*border: 2px solid red;*/
	}

	#scrollDown i {
		display: inline-block;
		width: 100%;
		font-size: 400%;
		animation-name: arrow;
	    animation-duration: 2s;
	    animation-iteration-count: infinite;
	    animation-timing-function: easy-in;
	    position: relative; /*dla keyferames niezbedne*/
	}

	@keyframes arrow {
	    0%   {color:white; left:0px; top: -10px;}
	    100% {color:red; left:0px; top: 0px;}
	}

	#scrollDown p {
		color: white;
		font-size: 1.3rem;
		letter-spacing: 1.5px;
	}
	
	/* ======= sekcja videoSection z kafelkami filmowymi ======= */

	#videoSection {
		height: auto;
		width: 100%;
		padding: 1% 1%;
		background: #101010;	
		position: relative;
		top: 100px;
		overflow: hidden;
		/*border: 1px solid yellow; */
	}

	.videoBox {
		float: left;  
		height: 20vw;
		width: 12.5%;
		margin: 1% 2%;
		opacity: 0.6; 
		border-radius: 5px;
		border-bottom: 3px solid red;
		position: relative;  /* to jest dla klawisza PLAY w tagu "i"*/ 
		/*border: 1px solid yellow; */
	}
	
	
	.videoBox img  {
		height: 17.16vw;
		width: 100%;
		border-radius: 7px; 
		/*border: 3px solid  red;*/
	}
	
	.videoBox p {
		width: 100%;
		display: inline-block; 
		text-align: center;
		font-family: 'Lato', sans-serif;
		color: white; 
		font-size: 1rem;	
		font-weight: 400;
		position: absolute;
		top: 93%;
		left: 50%;
		transform: translate(-50%,-50%);
		/*border: 1px solid yellow; */
	}
	
	.videoBox:hover img{
		transition: border .15s;
		border: 3px solid  #101010;
	}

	.videoBox:hover i {
		display: inline-block;
	}

	.videoBox:hover {
		opacity: 1; 
	}

	.videoBox i {
		display: none;
		position: absolute;
		top: 40%; /*dlaczego 40% a nie 50% bo pozycjonowane wzgledem elementu videBox a nie IMG a własnie nad IMG nma byc w połowie*/
		left: 50%;
		transform: translate(-50%,-40%);
		cursor: pointer;
		font-size: 5rem;
		color: white;	
	}
	
	.modalBackground {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -2;
		height: 100vh;
		width: 100%;
		background: rgba(0,0,0,1);
		content: "";
	}
	
	.modalWindow {
		position: fixed;
		height: auto;
		width: 90%;
		max-height: 720px;
		max-width: 1280px;		
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: -2;
		opacity: 0;
		transition: opacity .5s;
		outline: 3px solid #787878;
	}

	.modalWindow i {
		position: absolute;
		top: 0px;
		right: 0px;
		color: white;
		z-index: 1000;
	}

	.modalWindow i:hover {
		color: #787878;
		cursor: pointer;
	}
	
	/* klasa .modalOpen dodawana jest w chwili 
	 naciśniecia na klawisz "Pokaż film" */
	.modalOpen {
		z-index: 998;
		background: rgba(0,0,0,0.8);
	}

	/* gdy dodana zostanie klasa .modalOpen to pokaże się okno
	 w kórym zostanie wyświetlone video */

	.modalOpen .modalWindow {
		z-index: 999;
		opacity: 1;
	}
	